{% load static %}
{% load vite %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>
        Building Manager | {% block title %}{% endblock %}
    </title>

    {% vite_loader "bootstrap-entry" %}

    <link rel="stylesheet" href="{% static 'core/base.css' %}">

    {% block custom_css %}
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>