{% extends "core/dashboard_base.html" %}

{% block dashboard_title %}
    Home
{% endblock %}

{% block dashboard_topbar %}
    {% include "dashboard/_topbar.html" with topbar_title="Home" only %}
{% endblock %}

{% block dashboard_content %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="h5">
                Dashboard partials are ready.
            </h2>

            <p class="card-texttext-muted mb-0">
                Sidebar and topbar are now loaded with include.
            </p>
        </div>
    </div>
{% endblock %}